src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="gpsatelite-quiter-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit:config name="gpsatelite-quiter-sapi-config" api="resource::fcd63b23-3d02-45f4-937a-0ccab76ab372:gpsatelite-quiter-sapi:1.0.2:raml:zip:gpsatelite-quiter-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpsStatus" />
	<flow name="gpsatelite-quiter-sapi-main" initialState="started">
        <http:listener config-ref="gpsatelite-quiter-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="gpsatelite-quiter-sapi-config" />
        <error-handler ref="global-error-handler">
            
        </error-handler>
    </flow>
    <flow name="put:\customers\(id):application\json:gpsatelite-quiter-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "1234",
  message: "Operation successful"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\appointments:gpsatelite-quiter-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    appointmentType: "Repair",
    clientReceived: true,
    comments: "Client reported strange noise when braking.",
    contactMail: "service@example.com",
    contactName: "John Doe",
    contactPhone: "555-789-1234",
    deliveryData: {
      delivertDate: "2024-06-17",
      deliveryTime: "10:00 AM",
      receptionistId: "REC789"
    },
    deliveryDate: "2024-06-17",
    deliveryLocation: "456 Oak St",
    deliveryName: "Emily Johnson",
    deliveryTime: "10:00 AM",
    finalDateReplacementCar: "",
    id: "AppID789",
    idBasket: "Basket789",
    idvReplacementCar: "",
    initialDateReplacementCar: "",
    kits: [
      {
        codekit: "Kit789",
        labours: [
          {
            code: "Labour004",
            description: "Brake inspection",
            time: 1.5
          }, 
          {
            code: "Labour005",
            description: "Replace brake pads",
            time: 2
          }
        ],
        spareParts: [
          {
            code: "Part004",
            quantity: "2"
          }, 
          {
            code: "Part005",
            quantity: "1"
          }
        ]
      }
    ],
    labours: [
      {
        description: "Brake inspection",
        id: "LabourID004",
        operatorId: "Operator123",
        plannedHours: "1.5",
        teamId: "Team123"
      }, 
      {
        description: "Replace brake pads",
        id: "LabourID005",
        operatorId: "Operator456",
        plannedHours: "2",
        teamId: "Team456"
      }
    ],
    mileage: 60000,
    needReplacementCar: true,
    pickUpVehicle: "",
    pickupDate: "",
    pickupLocation: "",
    pickupName: "",
    pickupTelephone: "",
    pickupTime: "",
    plannedData: {
      plannedDate: "2024-06-17",
      plannedTime: "10:00 AM",
      receptionistId: "REC789"
    },
    requestDelivery: true,
    requestPickup: false,
    spareParts: [
      {
        code: "Part004",
        quantiy: "2"
      }, 
      {
        code: "Part005",
        quantiy: "1"
      }
    ],
    telephoneDelivery: "555-789-1234",
    vehiclePlate: "ABC123",
    workshopId: "Workshop789"
  }, 
  {
    appointmentType: "Repair",
    clientReceived: true,
    comments: "Client reported strange noise when braking.",
    contactMail: "service@example.com",
    contactName: "John Doe",
    contactPhone: "555-789-1234",
    deliveryData: {
      delivertDate: "2024-06-17",
      deliveryTime: "10:00 AM",
      receptionistId: "REC789"
    },
    deliveryDate: "2024-06-17",
    deliveryLocation: "456 Oak St",
    deliveryName: "Emily Johnson",
    deliveryTime: "10:00 AM",
    finalDateReplacementCar: "",
    id: "AppID790",
    idBasket: "Basket789",
    idvReplacementCar: "",
    initialDateReplacementCar: "",
    kits: [
      {
        codekit: "Kit789",
        labours: [
          {
            code: "Labour004",
            description: "Brake inspection",
            time: 1.5
          }, 
          {
            code: "Labour005",
            description: "Replace brake pads",
            time: 2
          }
        ],
        spareParts: [
          {
            code: "Part004",
            quantity: "2"
          }, 
          {
            code: "Part005",
            quantity: "1"
          }
        ]
      }
    ],
    labours: [
      {
        description: "Brake inspection",
        id: "LabourID004",
        operatorId: "Operator123",
        plannedHours: "1.5",
        teamId: "Team123"
      }, 
      {
        description: "Replace brake pads",
        id: "LabourID005",
        operatorId: "Operator456",
        plannedHours: "2",
        teamId: "Team456"
      }
    ],
    mileage: 60000,
    needReplacementCar: true,
    pickUpVehicle: "",
    pickupDate: "",
    pickupLocation: "",
    pickupName: "",
    pickupTelephone: "",
    pickupTime: "",
    plannedData: {
      plannedDate: "2024-06-17",
      plannedTime: "10:00 AM",
      receptionistId: "REC789"
    },
    requestDelivery: true,
    requestPickup: false,
    spareParts: [
      {
        code: "Part004",
        quantiy: "2"
      }, 
      {
        code: "Part005",
        quantiy: "1"
      }
    ],
    telephoneDelivery: "555-789-1234",
    vehiclePlate: "ABC123",
    workshopId: "Workshop789"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers:gpsatelite-quiter-sapi-config">
		<http:request method="GET" doc:name="Quiter Internet Services - Customers Management" doc:id="730ee349-7175-4f4d-b284-779e15f22248" config-ref="HTTP_Request_API_Quiter" followRedirects="true" path='/${quiter-api.basepath}/${quiter-api.enpointCustomers}'>
			<http:headers ><![CDATA[#[output application/java
---
{
	"authorization" : attributes.headers.authorization
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"lastModificationDateTo" : attributes.queryParams.lastModificationDateTo,
	"lastModificationDateSince" : attributes.queryParams.lastModificationDateSince
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="de728173-cc72-4170-9cef-af4ecc4e2907">
			<ee:message>
				<ee:set-attributes><![CDATA[attributes.queryParams]]></ee:set-attributes>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\appointments\(id):application\json:gpsatelite-quiter-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  appointmentType: "Repair",
  clientReceived: true,
  comments: "Client reported strange noise when braking.",
  contactMail: "service@example.com",
  contactName: "John Doe",
  contactPhone: "555-789-1234",
  deliveryData: {
    delivertDate: "2024-06-17",
    deliveryTime: "10:00 AM",
    receptionistId: "REC789"
  },
  deliveryDate: "2024-06-17",
  deliveryLocation: "456 Oak St",
  deliveryName: "Emily Johnson",
  deliveryTime: "10:00 AM",
  finalDateReplacementCar: "",
  id: "AppID789",
  idBasket: "Basket789",
  idvReplacementCar: "",
  initialDateReplacementCar: "",
  kits: [
    {
      codekit: "Kit789",
      labours: [
        {
          code: "Labour004",
          description: "Brake inspection",
          time: 1.5
        }, 
        {
          code: "Labour005",
          description: "Replace brake pads",
          time: 2
        }
      ],
      spareParts: [
        {
          code: "Part004",
          quantity: "2"
        }, 
        {
          code: "Part005",
          quantity: "1"
        }
      ]
    }
  ],
  labours: [
    {
      description: "Brake inspection",
      id: "LabourID004",
      operatorId: "Operator123",
      plannedHours: "1.5",
      teamId: "Team123"
    }, 
    {
      description: "Replace brake pads",
      id: "LabourID005",
      operatorId: "Operator456",
      plannedHours: "2",
      teamId: "Team456"
    }
  ],
  mileage: 60000,
  needReplacementCar: true,
  pickUpVehicle: "",
  pickupDate: "",
  pickupLocation: "",
  pickupName: "",
  pickupTelephone: "",
  pickupTime: "",
  plannedData: {
    plannedDate: "2024-06-17",
    plannedTime: "10:00 AM",
    receptionistId: "REC789"
  },
  requestDelivery: true,
  requestPickup: false,
  spareParts: [
    {
      code: "Part004",
      quantiy: "2"
    }, 
    {
      code: "Part005",
      quantiy: "1"
    }
  ],
  telephoneDelivery: "555-789-1234",
  vehiclePlate: "ABC123",
  workshopId: "Workshop789"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\appointments:application\json:gpsatelite-quiter-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  appointmentType: "Service",
  clientReceived: true,
  comments: "Appointment comments here",
  contactMail: "contact@example.com",
  contactName: "John Doe",
  contactPhone: "123-456-7890",
  deliveryData: {
    delivertDate: "2024-06-10",
    deliveryTime: "10:00 AM",
    receptionistId: "REC123"
  },
  deliveryDate: "2024-06-10",
  deliveryLocation: "123 Main St",
  deliveryName: "Jane Doe",
  deliveryTime: "10:00 AM",
  finalDateReplacementCar: "",
  id: "AppID123",
  idBasket: "Basket123",
  idvReplacementCar: "",
  initialDateReplacementCar: "",
  kits: [
    {
      codekit: "Kit123",
      labours: [
        {
          code: "Labour001",
          description: "Labour description here",
          time: 2
        }
      ],
      spareParts: [
        {
          code: "Part001",
          quantity: "1"
        }
      ]
    }
  ],
  labours: [
    {
      description: "Labour description",
      id: "LabourID001",
      operatorId: "Operator123",
      plannedHours: "2",
      teamId: "Team123"
    }
  ],
  mileage: 50000,
  needReplacementCar: false,
  pickUpVehicle: "Customer request to pick up the vehicle",
  pickupDate: "2024-06-10",
  pickupLocation: "456 Oak St",
  pickupName: "John Doe",
  pickupTelephone: "987-654-3210",
  pickupTime: "10:00 AM",
  plannedData: {
    plannedDate: "2024-06-10",
    plannedTime: "10:00 AM",
    receptionistId: "REC123"
  },
  requestDelivery: true,
  requestPickup: true,
  spareParts: [
    {
      code: "Part001",
      quantiy: "1"
    }
  ],
  telephoneDelivery: "987-654-3210",
  vehiclePlate: "ABC123",
  workshopId: "Workshop123"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:gpsatelite-quiter-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "1234",
  message: "Operation successful"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
